<div style="background: white; text-align: left">
  <h2>Welcome <b>%s.</b></h2>

  <p>Thanks for joining <b>Elysium Bridge</b>, the timeless NFT platform.</p>
  <p>In order to confirm your registration please click the Confirm button:</p>
  <div style="width: 100%%; text-align:left; padding-top: 30px">
    <a
      href="%s"
      style="
        color: black;
        background: transparent;
        border: 1px solid black;
        padding: 20px 50px;
        z-index:9999999;
      "
      >Confirm</a
    >
    <p style="margin-top: 30px">If the button is not clickable use the following link: %s</p>
  </div>
</div>
